asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
clickhouse-connect==0.8.11
cryptography==44.0.0
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
drf-yasg==1.21.8
gevent==24.11.1
greenlet==3.1.1
gunicorn==23.0.0
inflection==0.5.1
lz4==4.3.3
numpy==2.2.1
packaging==24.1
pandas==2.2.3
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-deriv-api==0.1.6
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
reactivex==4.0.4
setuptools==75.7.0
six==1.17.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.3.0
whitenoise==6.8.2
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
websocket-client
schedule
